{% extends "template.html" %}
{% block content %}

  <header id="hero" class="hero">
    <div class="flex-container w-container">
      <div>
        <h1>Add an expense</h1>
        <a href="{{ url_for('addExpenses') }}" class="button-8 w-button">Add an Expense</a>
      </div>
    </div>
  </header>
<section id="feature-section" class="feature-section">
    <div class="flex-container w-container">
      <div>
        <h2>Track your expenses</h2>
        <h4>Here are your total expenses {{ expenses }}</h4>

        <h2>By category</h2>
        <p>You've spent:</p>
        <p>{% for i in expensesByCategory %}
          <p>$ {{ i[1] }} in the {{ i[0] }}.</p>
              {% endfor %}</p>
      </div>
    </div>
  </section>

{% endblock %}
